//Arquivo de estilos globais da aplicação
//setando o bootstrap no Sass
@import "~bootstrap/scss/bootstrap";

//importando as variáveis da paleta de cores do site
@import './config.scss';

//importando o arquivo de estilos do Login
@import './login.scss';

//importando o arquivo de estilos do header
@import './header.scss';

//importando o arquivo de estilos dos filtros
@import './filtros.scss';

//importando o arquivo de estilos da listagem das tarefas
@import './listagem.scss';

//importando o arquivo de estilos do footer
@import './footer.scss';

//importando o arquivo de estilos dos itens
@import './item.scss';


//importando a fonte
@font-face {
    font-family: 'Biennale Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fontes/Biennale/Biennale\ Regular.otf') format('opentype');
}

html{
    height: 100%;
    font-family: 'Biennale Regular';
}

body {
    height: 100%;
    font-family: 'Biennale Regular';
}

//div principal
#root {
    height: 100%;
    display: flex;
    // formatação para que a div pegue a tela toda
    flex: 1 1 0%;
    flex-direction: column;
    //alinhando todos os itens ao centro
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
}

input, select {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: $primaryColor;
    max-width: 220px;
    background-color: transparent;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    font-family: 'Biennale Regular';
    border-bottom-style: solid;
    border-color: $mediumGreyColor;
    outline: none;

    &:focus {
        border-color: $primaryColor;
    }

    &::placeholder { //Chrome, Firefox, Opera, Safari 10+
        color: $mediumGreyColor;
        opacity: 1;
    }
    &::-ms-input-placeholder { //Microsoft Edge
        color: $mediumGreyColor;
        opacity: 0.5;  
    }
}

@media screen and (min-width:992px) {
    input, select {
        border-width: 0.5px;
        border-radius: 8px;
        padding: 5px;
    }
}






