@import './config.scss';

.container-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    background-color: $lightGreyColor;
    border-radius: 12px;
    padding: 12px;
    margin-top: 10px;

    img {
        width: 22px;
        margin-right: 10px;
        float: left;
    }

    div {
        width: 70%;

        p {
            margin: 0px;
            color: $darkGreyColor;
            font-weight: bold;
            font-size: 14px;

            &.concluida {
                text-decoration: line-through;
            }
        }

        span {
            color: $darkGreyColor;
            font-size: 12px;
        }
    }

    .atualizar-deletar {
        display: flex;
        justify-content: flex-end;
        width: 25%;

        button {
            width: 100%;
            max-width: 150px;
            padding: 7px;
            background-color: $lightGreyColor;
            color: $primaryColor;
            font-size: 14px;
            border-color: $primaryColor;
            border-radius: 12px;
            cursor: pointer;

            &:hover {
                background-color: $primaryColor;
                color: white;
            }
        }
    }

    @media screen and (min-width:992px) {
        padding: 18px; 
        
        img {
            width: 25px;
        } 
        
        &.ativo {
            cursor: pointer;
            
            &:hover {
                border-width: 1px;
                border-style: solid;
                border-color: $primaryColor;
            } 
        }                    

        div {
            p {
                font-size: 16px;
            }
    
            span {
                font-size: 14px;
            }
        }

        .atualizar-deletar {
            button {
                font-size: 15px;
            }
        }

        
    }
}