@import './config.scss';

.container-modal {
    margin-top: 100px;

    .modal-icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        button {
            cursor: pointer;
            border-width: 0.5px;
            border-style: solid;
            border-color: $mediumGreyColor;
            border-radius: 8px;
            margin-left: 10px;

            &:hover {
                opacity: 0.7;
            }

            img {
                width: 48px;
            }

        }

    }

    p {
        text-align: center;
        color: $primaryColor;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        border-width: 0.5px;
        border-color: $mediumGreyColor;
        border-radius: 8px;
        padding: 10px;
        margin-top: 15px;
        max-width: 500px;

        &:focus {
            border-color: $primaryColor;
        }
    }

    .inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media screen and (min-width:992px) {

        .modal-body,
        .modal-footer {
            padding: 25px 40px;
        }

        p {
            font-size: 17px;
        }

        button {
            font-size: 16px;
        }
    }
}